@model Models.SettingModel
@{
	ViewData["Title"] = "Home page";
}

<style>

	.cred-container {
		/*display: flex;*/
		background-color: whitesmoke;
		color: black;
		padding: 15px;
		margin: 15px;
		border-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		border: none;
	}

		.cred-container.empty {
			border-left: 5px solid red;
		}

		.cred-container.connected {
			border-left: 5px solid green;
		}
</style>

<div class="container">
	@{
		if (Model.ssid == null || Model.ssid == "")
		{
			<div class="cred-container empty" id="empty">
				<div class="d-flex flex-column align-items-center justify-content-center">
					<h3>No device is connected</h3>
				</div>
			</div>
		}
		else
		{
			<div class="cred-container connected" id="connected">
				<dl class="row">
					<dt class="col-sm-4">
						@Html.DisplayNameFor(model => model.ssid)
					</dt>
					<dd class="col-sm-8" id="ssid_value">
						@Html.DisplayFor(model => model.ssid)
					</dd>
					<dt class="col-sm-4">
						@Html.DisplayNameFor(model => model.password)
					</dt>
					<dd class="col-sm-8" id="password_value">
						@Html.DisplayFor(model => model.password)
					</dd>
					<dt class="col-sm-4">
						@Html.DisplayNameFor(model => model.ipAdress)
					</dt>
					<dd class="col-sm-8" id="ip_value">
						@Html.DisplayFor(model => model.ipAdress)
					</dd>
				</dl>
			</div>
		}
	}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script>
	const connection = new signalR.HubConnectionBuilder()
		.withUrl("/notify")
		.configureLogging(signalR.LogLevel.Information)
		.build();

	async function start() {
		try {
			await connection.start()
				.then(() => console.log("SignalR Connected."))
				.catch(console.error);
		} catch (err) {
			console.log(err);
			setTimeout(start, 5000);
		}
	};

	connection.onclose(async () => {
		await start();
	});

	connection.on('newMessage', message => {
		var ssidElement = document.getElementById("ssid_value");
		var passwordElement = document.getElementById("password_value");
		var iPElement = document.getElementById("ip_value");

		xhttp.open("GET", "https://localhost:5001/", true);
		xhttp.send();
	});

	// Start the connection.
	start();
</script>

